* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

/* Buttons */
button {
  padding: 10px 20px;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  border: 1px solid #272727;
  display: block;
  cursor: pointer;
  background-color: #fff;
  color: #272727;
}

button:hover {
  border: 1px solid #767676;
  color: #767676;
}

input[type="file"] {
  display: none;
}

.custom-label {
  padding: 10px 20px;
  font-family: 'Roboto Slab', serif;
  font-size: .8em;
  text-transform: uppercase;
  border: 1px solid #272727;
  display: block;
  width: auto;
  cursor: pointer;
  background-color: #272727;
  color: #fff;
  text-align: center;
  border-radius: 20px;
}

.custom-label:hover {
  color: #a5a5a5;
}